{% extends "reestr\base.html" %}

{% block popperjs-bootstrap %}{% endblock %}

{% block titlehead %}Select Tlg/Reestr{% endblock %}

{% block content %}

<div class="container-fluid ">
  <div class="row">
    <div class="col-md-auto">
        {% if legend %}
        <a class="btn btn-outline-success btn-sm" data-bs-toggle="collapse" href="#collapseExample" role="button" aria-expanded="false" aria-controls="collapseExample">
            ...
        </a>
        <div class="collapse" id="collapseExample">
            <div class="card card-body">
                <h5 class="card-title" align="center">легенда</h5>
                <TABLE class="table table-light table-bordered table-sm">
                    {% for key, value in legend.items %}
                        <TR {{ value }}><TD>{{ key }}</TD></TR>
                    {% endfor %}
                </TABLE>
            </div>
        </div>
        {% endif %}
    </div>
    <div class="col" align=center>
        <h5 align=center>Реестр телеграмм абонента {{ name }} за {{ shape_date }}</h5>
        <h6 align=center>
            {{ shape_correct }}&nbsp;
        </h6>
    </div>
  </div>
</div>
<br>
<form method="get" action="javascript:void(0)" name="reestr" target="_blank">

<div class="'row mx-2">

<TABLE class="table table-light table-bordered table-hover" id="table-reestr">
<thead>
    <tr ALIGN=CENTER  class="table-success">
        <th scope="col" NOWRAP></th>
        <th scope="col" NOWRAP>N п/п</th>
        <th scope="col" NOWRAP>к/н</th>
        <th scope="col" NOWRAP>дата</th>
        <th>&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbspкуда,&nbspкому&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp</th>
        <th>подпись</th>
    </tr>
</thead>
<tbody>
{% if data %}
    {% for record in data %}
    {% url 'reestr:read_tlg' record.un_name as read_url %}
    <TR ALIGN=RIGHT {{ record.css_class }}>
        <TD ondblclick='dblClick(this, "{{ record.un_name }}")'><input class="form-check-input mt-0" type="checkbox" name="records" id="{{ record.un_name }}" value="{{ record.un_name }}" onchange='changeCheck(this)'></TD>
        <TD ondblclick='dblClick(this, "{{ record.un_name }}")'>{{ forloop.counter }}</TD>
        <TD ALIGN=LEFT NOWRAP ondblclick='dblClick(this, "{{ record.un_name }}")'>{{ record.kn }}</TD>
        <TD NOWRAP ondblclick='dblClick(this, "{{ record.un_name }}")'>{{ record.inp_gate_date }}</TD>
        <TD ALIGN=LEFT ondblclick='dblClick(this, "{{ record.un_name }}")'>{{ record.address }}</TD>
        <TD ALIGN=LEFT ondblclick='dblClick(this, "{{ record.un_name }}")'>{{ record.subscribe }}</TD>
    </TR>
    {% endfor %}
{% endif %}
</tbody>
</TABLE><BR>

</div>


{% url 'reestr:add' date as add_url %}
{% url 'reestr:list' '$$$' as list_url %}
<button class="btn btn-sm btn-success ms-2" type='button' onclick='addRecords(this,"{{ add_url }}","{{ list_url }}")'>Добавить</button>
<button class="btn btn-sm btn-success" type="reset">Сбросить</button>
</form>
<br>


{% endblock content %}
